body {text-align: center;
font-family: Helvetica;
}

.header { background-image: url("../../resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  position:relative;
}

h1 {font-size: 70px;
font-weight: bold;
}

#nav li{
  list-style-type:none;
  padding-bottom: 10px;
  position: relative;
}

h2 {font-size: 32px;
font-weight: bold;
}

h3 {font-size: 23px;
font-weight: bold;
}
